html body{
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 1500px;
    background: rgba(0,0,0,.7);
}
/*header S*/
header{
    position: relative;
    width: 100%;
    height: 100px;
    color: #ffffff;
    /*background: rgba(0,0,0,.3);*/
}
header h1{
    line-height: 100px;
    text-indent: 2rem;
    margin-right: 10px;
    font-family: 华文仿宋;
    color: #dddddd;
}
header h1:hover{
    color: #ffffff;
}
header span{
    position: absolute;
    top: 10%;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    font-size: 50px !important;
    line-height: 50px;
    animation: rotate 4s linear infinite;
}
@-webkit-keyframes rotate {
    to{transform: rotate(360deg)}
}
#face{
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
    height: 100%;
    font-size: 16px;
    color: #dddddd;
}
#set{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 50%;
}
#set:hover{
    color: #ffffff;
}
/*content S*/
#content{
    width: 100%;
    height: 800px;
}
#list{
    width: 10%;
    height: 100%;
}
#list ul{
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100%;
}
#list ul li{
    width: 100%;
    height: 40px;
    text-align: left;
    border: 1px solid #bbb0b6;
    margin-top: 10px;
    font: 16px/40px "";
    color: #bbb0b6;
    padding-left: 5px;
}
#list ul li:hover,#list ul li.on{
    border: 1px solid #ffffff;
    color: #ffffff;
}

/*内容中间*/
#con{
    position: relative;
    width: 60%;
    height: 700px;
}
#con-h{
    width: 100%;
    height: 60px;
    color: #ffffff;
}
#con-h>ul{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    padding: 2px;
}
#con-h>ul li{
    width: 20%;
    height: 60%;
    border: 1px solid #c7c6d4;
    margin: 5px;
    text-align: center;
    font: 16px/36px "";
    color: #c7c6d4;
}
#con-h>ul li:hover{
    border: 1px solid #ffffff;
    color: #ffffff;
}
/*搜索*/
#search{
    position: relative;
    width: 40%;
    height: 100%;
}
#search #search-input{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    height: 50%;
    font: 16px/36px "";
    text-indent: 0.5em;
    outline: none;
    border: 1px solid #dddddd;
    background: none;
    color: #ffffff;
}
#btn{
    position: absolute;
    right: 19%;
    top: 50%;
    width: 20%;
    height: 58%;
    transform: translateY(-50%);
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
}
#searchList{
    position: absolute;
    left: 0;
    top: 45px;
    width: 80.5%;
    z-index: 999;
    background-color: #392e39;
    color: #fafeff;
}
#searchList ol{
    width: 100%;
}
#searchList li{
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-indent: 0.5em;
    color: #fafeff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    list-style: decimal;
}
#searchList li:hover{
    background-color: #f0f0f0;
    color: #000000;
}
/*歌词中间部分*/
#con-con{
    position: relative;
    width: 100%;
    height: 80%;
    margin-top: 10px;
    overflow: hidden;
}
/*头部和查询生成列表*/
#song-list,#song-list-info{
    width: 100%;
}
#song-list li,#song-list-info li{
    width: 100%;
    height: 50px;
    font: 16px/50px "";
    border-bottom: 1px solid rgba(0,0,0,.2);
    color: #ffffff;
    display: flex;
}
#song-list li .none,#song-list-info li .none{
    display: none;
    padding-right: 15px;
}
#song-list li:hover .none,#song-list-info li:hover .none{
    display: block;
}
#song-list li .check,#song-list-info li .check{
    width: 10%;
    height: 100%;
    position: relative;
}
#song-list li .check input,#song-list-info li .check input{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
}
#song-list li .song,#song-list-info li .song{
    position: relative;
    width: 50%;
}
#song-list li .song .song-num,#song-list-info li .song .song-num{
    position: absolute;
    left: -30px;
}
#song-list li .song-singer,#song-list-info li .song-singer{
    width: 25%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#song-list li .song-time,#song-list-info li .song-time{
    width: 15%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 5px;
}
#song-list{
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #483a48;
    z-index: 99;
}
#song-list-info{
    position: absolute;
    left: 0;
    top: 50px;
    transition: 0.1s;
}
/*自定义滚动条部分*/
#scroll{
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    border-radius: 5px;
    height: 100%;
    z-index: 999;
}
#scroll .bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: rgba(187, 176, 182, 0.2);
}


/*播放显示部分*/
#info{
    position: relative;
    width: 30%;
    height: 100%;
}
#img{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
#img img{
    width: 100%;
    height: 100%;
}
#singer-album{
    position: absolute;
    left: 0;
    right: 0;
    margin: 220px auto;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}
#singer-album p{
    display: inline-block;
}
#lyric{
    position: absolute;
    left: 0;
    right: 0;
    margin: 300px auto;
    width: 60%;
    height: 400px;
    overflow: hidden;
    /*border: 1px solid #ffffff;*/
}
#lyric .box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
#lyric p{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #c7c6d4;
}

/*footer S*/
footer{
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 150px;
    z-index: 99999;
}
footer #music{
    display: none;
}
#control{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    height: 50%;
    color: #ffffff;
}
#control a{
    position: absolute;
    top: 20%;
    width: 5%;
    height: 100%;
    font-size: 30px;
    text-align: center;
}
#musicLeft{
    left: 5%;
}
#musicMiddle{
    left: 10%;
}
#musicRight{
    left: 15%;
}
#progress{
    position: absolute;
    top: 0;
    left: 20%;
    width: 50%;
    height: 100%;
}
#progress p{
    position: absolute;
    top: 0;
}
#progress p:nth-child(1){
    left: 0;
}
#progress p:nth-child(2){
    right: 50px;
}
#progress p:nth-child(3){
    right: 0;
}
#progress>.progress{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 3px;
    background-color: #dddddd;
}
#progress>.progress>.pot{
    position: absolute;
    left: 0;
    top: -5px;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
#flag{
    left: 70%;
}
#download{
    left: 75%;
}
#voice{
    position: absolute;
    top: 0;
    left: 80%;
    width: 20%;
    height: 100%;
}
#voice>a{
    left: 0;
    width: 30%;
}
#voice>.progress{
    position: absolute;
    left: 30%;
    top: 50%;
    width: 70%;
    height: 3px;
    background-color: #dddddd;
}
#voice>.progress>.pot{
    position: absolute;
    left: 50%;
    top: -5px;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}