html{
    position: relative;
    width: 100%;
    min-width: 1400px;
}
body{
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 1500px;
    width: 100%;
    height: auto;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0,0,0,.2);
}
/*背景毛玻璃*/
.frosted-glass {
    width: 100%;
    height: 1080px;
    background: inherit;
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -ms-filter: blur(50px);
    -o-filter: blur(50px);
    filter: blur(50px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);
}

/*header S*/
header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    color: #ffffff;
}
header h1{
    line-height: 100px;
    text-indent: 2rem;
    margin-right: 10px;
    color: #dddddd;
    font-size: 24px;
    font-weight: 400;
}
header h1:hover{
    color: #ffffff;
}
header span{
    position: absolute;
    top: 10%;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    font-size: 50px !important;
    line-height: 50px;
    animation: rotate 4s linear infinite;
}
@-webkit-keyframes rotate {
    to{transform: rotate(360deg)}
}
#face{
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
    height: 100%;
    font-size: 16px;
    color: #dddddd;
}
#set{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 25%;
    border-radius: 50px;
    border: 2px solid #ffffff;
}
#set p:nth-child(1){
    position: absolute;
    left: -80px;
    top: -50%;
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: #dddddd;
}
#set p:nth-child(1):hover{
    color: #ffffff;
}
#set p:nth-child(2){
    position: absolute;
    left: 0.5px;
    top: 0;
    width: 99%;
    height: 100%;
    font-size: 16px;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 700;
}
#set .small{
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 25px;
    border-radius: 25px;
    transition: 0.5s;
    background: -webkit-radial-gradient(red 20%, #ffffff 20%,#ffffff 100%);
    cursor: pointer;
}

/*content S*/
#content{
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 700px;
}
#list{
    width: 15%;
    height: 100%;
}
#list ul{
    box-sizing: border-box;
    padding: 0 60px;
    width: 100%;
    height: 100%;
}
#list ul li{
    width: 100%;
    height: 40px;
    text-align: left;
    border: 1px solid #bbb0b6;
    margin-top: 10px;
    font: 16px/40px "";
    color: #bbb0b6;
    padding-left: 20px;
    transition: 0.2s;
}
#list ul li:hover{
    transform: translateX(10px) translateY(3px) translateZ(-200px);
    border: 1px solid #ffffff;
    color: #ffffff;
}
#list ul li.on{
    border: 1px solid #ffffff;
    color: #ffffff;
}

/*内容中间*/
#con{
    position: relative;
    width: 55%;
    height: 700px;
}
#con-h{
    width: 100%;
    height: 60px;
    color: #ffffff;
}
#con-h>ul{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    padding: 2px;
}
#con-h>ul li{
    width: 20%;
    height: 60%;
    border: 1px solid #c7c6d4;
    margin: 5px;
    text-align: center;
    font: 16px/36px "";
    color: #c7c6d4;
    transition: 0.2s;
}
#con-h>ul li:hover{
    transform: scale(1.1);
    border: 1px solid #ffffff;
    color: #ffffff;
}
/*搜索*/
#search{
    position: relative;
    width: 40%;
    height: 100%;
}
#search #search-input{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    height: 50%;
    font: 16px/36px "";
    text-indent: 0.5em;
    outline: none;
    border: 1px solid #dddddd;
    background: none;
    color: #ffffff;
}
#btn{
    position: absolute;
    right: 19%;
    top: 50%;
    width: 20%;
    height: 58%;
    transform: translateY(-50%);
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
}
#searchList{
    position: absolute;
    left: 0;
    top: 46px;
    width: 80.5%;
    z-index: 999;
    background-color: #392e39;
    color: #fafeff;
}
#searchList ol{
    width: 100%;
}
#searchList li{
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-indent: 0.5em;
    color: #fafeff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    list-style: decimal;
}
#searchList li:hover{
    background-color: #f0f0f0;
    color: #000000;
}
/*歌词中间部分*/
#con-con{
    position: relative;
    width: 100%;
    height: 80%;
    margin-top: 10px;
    overflow: hidden;
}
/*头部和查询生成列表*/
#song-list,#song-list-info{
    width: 100%;
}
#song-list li,#song-list-info li{
    width: 100%;
    height: 50px;
    font: 16px/50px "";
    border-bottom: 1px solid rgba(0,0,0,.2);
    color: #ffffff;
    display: flex;
}
#song-list li .none,#song-list-info li .none{
    display: none;
    padding-right: 15px;
}
#song-list li:hover .none,#song-list-info li:hover .none{
    display: block;
}
#song-list li .check,#song-list-info li .check{
    width: 10%;
    height: 100%;
    position: relative;
}
#song-list-info li .check .checkbox,#song-list li .check .checkbox {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    border: 1px solid #c7c6d4;
    cursor: pointer;
}
#song-list-info li .check .checkbox:hover,#song-list li .check .checkbox:hover{
    border: 1px solid #ffffff;
}
#song-list-info li .check .oncheck,#song-list li .check .oncheck{
    border: 1px solid #ffffff;
    background: url("../img/icon.png")no-repeat -18px -197px/1000%;
}
#song-list li .check input,#song-list-info li .check input{
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}
#song-list li .song,#song-list-info li .song{
    position: relative;
    width: 50%;
    padding-left: 20px;
}
#song-list li .song .song-num,#song-list-info li .song .song-num{
    position: absolute;
    left: -20px;
    width: 10px;
    height: 10px;
}
#song-list li .song-singer,#song-list-info li .song-singer{
    width: 25%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#song-list li .song-time,#song-list-info li .song-time{
    width: 15%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 5px;
}
#song-list{
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    /*background-color: #c09bc0;*/
    /*这里不用颜色覆盖，改用消失*/
    z-index: 99;
}
#song-list-info{
    position: absolute;
    left: 0;
    top: 50px;
    transition: 0.1s;
}
/*自定义滚动条部分*/
#scroll{
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    border-radius: 5px;
    height: 100%;
    z-index: 999;
}
#scroll .bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: rgba(187, 176, 182, 0.2);
}


/*播放显示部分*/
#info{
    position: relative;
    width: 30%;
    height: 100%;
}
#img{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 350px;
    height: 200px;
}

#img img:nth-child(1){
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 65%;
    height: 113%;
    border-radius: 50%;
}
#img img:nth-child(1).rotate{
    top: -4%;
    animation: rotateTrue 15s linear infinite;
}
#img img:nth-child(2){
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 40%;
    height: 70%;
    border-radius: 50%;
}
#img img:nth-child(2).rotate{
    top: 16%;
    animation: rotateFalse 10s linear infinite;
}
/*旋转*/
@-webkit-keyframes rotateTrue {
    from{transform: rotate(0)}
    to{transform: rotate(360deg)}
}
@-webkit-keyframes rotateFalse {
    from{transform: rotate(0)}
    to{transform: rotate(-360deg)}
}
#singer-album{
    position: absolute;
    left: 0;
    right: 0;
    margin: 230px auto;
    text-align: center;
    color: #c7c6d4;
    font-size: 16px;
}
#singer-album p:hover{
    color: #ffffff;
}
#singer-album p{
    display: inline-block;
}
#lyric{
    position: absolute;
    left: 0;
    right: 0;
    margin: 300px auto;
    width: 100%;
    height: 330px;
    overflow: hidden;
    /*border: 1px solid #ffffff;*/
}
#lyric .box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
#lyric p{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #c7c6d4;
    transition: 1s;
}
#lyric p.on{
    color: #ffffff;
    font-size: 18px;
    transform: translateZ(10px);
}

/*footer S*/
footer{
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    min-width: 1200px;
    height: 150px;
    z-index: 99999;
}
footer #music{
    display: none;
}
#control{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 65%;
    height: 50%;
    color: #ffffff;
}
#control a{
    position: absolute;
    top: 20%;
    width: 5%;
    height: 100%;
    font-size: 30px;
    text-align: center;
}
#musicLeft{
    left: 0;
}
#musicMiddle{
    left: 5%;
}
#musicRight{
    left: 10%;
}
#progress{
    position: absolute;
    top: 0;
    left: 15%;
    width: 55%;
    height: 100%;
}
#progress p{
    position: absolute;
    top: 0;
}
#progress p:nth-child(1){
    left: 0;
}
#progress p:nth-child(2){
    left: 150px;
}
#progress p:nth-child(3){
    right: 50px;
}
#progress p:nth-child(4){
    right: 0;
}
#progress>.progress{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 5px;
    background-color: #dddddd;
    border-radius: 5px;
}
#progress>.progress>.pot{
    position: absolute;
    left: 0;
    top: -5px;
    width: 15px;
    height: 15px;
    background: -webkit-radial-gradient(red 30%,#ffffff 30%,#ffffff 100% );
    border-radius: 50%;
    cursor: pointer;
}
#flag{
    left: 70%;
}
#download{
    left: 75%;
}
#voice{
    position: absolute;
    top: 0;
    left: 80%;
    width: 20%;
    height: 100%;
}
#voice>a{
    left: 0;
    width: 30%;
}
#voice>.progress{
    position: absolute;
    left: 30%;
    top: 50%;
    width: 70%;
    height: 3px;
    background: -webkit-linear-gradient(left,red 50%, #ffffff 50%, #ffffff 100%);
    border-radius: 5px;
}
#voice>.progress>.pot{
    position: absolute;
    left: 50%;
    top: -5px;
    width: 15px;
    height: 15px;
    background: -webkit-radial-gradient(red 20%,#ffffff 20%,#ffffff 100% );
    border-radius: 50%;
    cursor: pointer;
}